:root {
    --max-width: 1180px;
    --white: #ffffff;
    --white-100: #e5e7eb;
    --black: #000000;
    --border-color: #D9D9D9;

    --blue-500: #263156;
    --blue-600: #212E4C;
    --blue-900: #0f172a;
    
    --color-green: #11B047;
    
    --gray-100: #64748b;
}