.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: #f6f8ff;
    border-radius: 12px;
    border: 1px solid #0f172a08;
    box-shadow: 0 2px 0 #12182805;

    padding: 12px;
    width: 100%;
    min-height: 285px;
    transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.pokemon-card:hover {
    box-shadow: 0 6px 18px rgba(17, 24, 39, 0.06);
    transform: translateY(-4px);
}

.card-header {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    width: 100%;
}

.pokemon-type {
    color: var(--color-green);
    font-weight: 700;
}

.pokemon-number {
    color: var(--blue-500);
    font-weight: 700;
}

.card-image img {
    width: 143px;
    height: 143px;
    object-fit: contain;
}

.card-name {
    color: var(--blue-600);
    font-size: 14px;
    font-weight: 700;
    
    margin-top: 8px;
}