.loading-overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;

    background: rgba(255,255,255,0.98);
    box-shadow: 0 8px 30px rgba(2,6,23,0.08);
    border-radius: 12px;

    font-size: 18px;
    font-weight: 600;
    
    padding: 18px 26px;
    transform: translate(-50%, -50%);
}